/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2015, 11:22:53 AM
    Author     : Ryan and Zareh
*/

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;    
}

.container{
        display:flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

h1{
    font-weight: bolder;
    font-size: 250%;
    alignment-adjust: middle;
    margin: auto;
    order:0;
    justify-content: center;
}

h2{
    font-weight: bold;
    font-size: 125%;
    text-decoration: underline;
    margin:0;
}

h3{
    font-weight: bold;
    font-size: 100%;
    margin:0;
}

.Contact{
    font-size: 90%;
    margin:auto;
    order:1;
    white-space:nowrap;
    margin-bottom: 10px;
}

.Contact li{
    display: inline;
}

.Education{
    display: flex;
    order: 2;
    flex-flow: row wrap;
    width: 90%;
    margin-bottom: 10px;
}

.child-1{
    order:1;
    float:left;
    width:50%;
}

.Jobs .child-1 h2{
    color: red;
}

.child-2{
    order:2;
    text-align:right;
    width:50%;
}

.child-1 li{
    list-style-type:none
}
.child-1 ul{
    margin:0;
}
.date-1{
    display:none;
}

.Qualifications{
    order:3;
    text-align: left;
    width:90%;
    margin-bottom: 10px;
}
.Qualifications ul{
    margin:0;
}
.Qualifications li{
    
    list-style-type: disc;
    
}
.Jobs{
    display: flex;
    order: 4;
    flex-flow: row wrap;
    width: 90%;
}

.Leadership{
    display: flex;
    order: 5;
    flex-flow: row wrap;
    width: 90%;
}


.Jobs-2{
    order:5;
    width:90%;
    margin:5px;
}
.Jobs-2 ul{
    margin:0;
}
.date-2{
    display:none;
}

@media only screen and (max-width: 500px) {
    h1.Name{
        order:0;
        alignment-adjust: middle;
    }
    .Contact{
        white-space: normal; 
    }
    .date-1{
        display: list-item;
    }
    .date-2{
        display: block;
    }
    .child-1{
        width:80%
    }
    .child-2{
        display:none;
    }
    
}

